


.chef {
    display: grid; 
    grid-template-columns: 50% 50%;
    min-height: 55vh;
    background: $grey1;
    
    .left-part {
        @include center;
        
        .left-container {
            @include center;
            margin: 30px;
            padding: 30px;
            border: 1px dashed black;
            
            h2 {
                font-size: 2.5rem;
            }
            h4 {
                font-size: 1.5rem;
                transform: translateY(-50%);
                text-transform: uppercase;
                
            }
            .plat-img {
                margin-top: 10px;
                width: 40px;
                height: 40px;
            }
            p {
                font-size: 1.3rem;
                font-family: $font3;
                margin: 40px;
                text-align: center;
            }
            #avatar1 {
                clip-path: circle(50% at 50% 50%);
                width: 10%;
            }
            h5 {
                margin-top: 20px;
                font-size: 1.5rem;
                font-family: $font2;
                font-weight: 200;
            }
            span {
                color: $grey2;
            }

        }
    }

    .right-part {
        background: url(../img/store-01.jpg) center/cover;
    }
}