


.section4 {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 500px;

    .head-event {
        @include center;

        h2 {
            font-size: 3rem;
        }
        h3 {
            font-size: 3rem;
            font-family: $font2;
            transform: translateY(-20%);
            color: $white;
        }
    }

    .events {

        display: grid;
        grid-template-columns: 60% 40%;
        font-family: $font3;
    
        h4 {
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-weight: lighter;
        }
        p {
            font-size: 1.2rem;
            margin: 20px 0;
            letter-spacing: 1px;

            i:nth-child(2) {
                
                margin-left: 8px;
            }
            

        }
        a {
            text-decoration: none;
            margin: 10px 0;
            font-size: 1.2rem;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 2px;
            
        }
        .left-part {
            display: grid;
            grid-template-rows: 50% 50%;

            .left-container {
                display: flex;
                background: $grey1;
                margin: 20px;
                .date-container1 {
                    background: url(./../img/event-01.jpg) center/cover;  
                }
                .date-container2 {
                    background: url(./../img/event-02.jpg) center/cover;
                }
                
                .date-container1, .date-container2 {
                    width: 200px;
                    height: 200px;
                    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
                    display: inline-block;
                    position: relative;
                    
                    .date:before {
                        content: "08 Juin";
                        color: $black;
                        border: 1px solid grey;
                        position: absolute;
                        top: 40%;

                    }
   
                }
                    
                .event-txt {
                    margin: 20px;
                    display: flex;
                    flex-direction: column;
                }
            }                
        }
        .right-part {
            background: url(../img/event-03.jpg);
            margin: 20px;
            
            
            .right-container {
                margin: 20px;
                padding-top: 115px;
                background: $grey1;
                text-align: center;
                @include center;
                clip-path: polygon(0% 0%, 0% 100%, 39% 100%, 38% 0, 63% 0, 63% 24%, 25% 24%, 38% 100%, 100% 100%, 100% 0%);

                a {
                    margin: 65px auto 50px;
                }
               
            }
        }
    }  
}