

header {
    background: url(../img/bg-slider-06.jpg) center/cover;
    // height: 100vh;
    position: relative;
    min-height: 100vh;
    li, span, h3, h4, p  {
        color: $white;
    }
    
    h2 {
        font-size: 3rem;
        
    }


    .nav {
        margin: 0px 100px auto;
        padding-top: 20px
    }
    nav {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                cursor: pointer;
                padding: 0 5px 10px 5px;
                text-transform: uppercase;

                &:hover {
                    animation: navanime 0.5s forwards ;
                }
            }
            #social {
                animation: none;
                a i:hover {
                    animation: socialanime 0.5s forwards;
                }
            }
            
            li a {
                margin-right: 10px;
                color: $white;
            }

        }
        
    }
    .welcome {
       @include center;
        min-height: 100vh;
        // transform: translateY(-100px);
        h1 {
            font-size: 4rem;
        }
        h3 {
            font-size: 4.5rem;
            font-family: $font2;
            transform: translateY(-40%);
            letter-spacing: 10px;
        }
        h4 {
            margin: 40px;
            font-family: $font3;
            font-size: 1.2rem;
            letter-spacing: 8px;
            font-weight: 100;
        }
    }

}