@font-face {
    font-family: "allura";
    src: url(./../fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(./../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(./../fonts/Roboto-Light.ttf);
}

$font1: allura, sans-serif;
$font2: poppins, sans-serif;
$font3: roboto, sans-serif;
$white: rgb(0, 255, 234);
$grey1: rgb(238, 235, 235);
$grey2: rgb(161, 146, 146);
$grey3: rgb(32, 30, 30);
$black: rgb(10, 10, 10);
$green: rgb(97, 110, 50);




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes navanime {
    to {
        border-bottom: 3px solid $white;
        transform: scale(120%)
    }
}
@keyframes socialanime {
    to {
        transform: scale(150%)
    }
}

h1, h2 {
    font-family: $font1;
    color: $green;
}


h3 {
    font-family: $font3;
    text-transform: uppercase;
}

h4 {
    font-family: $font2;
}
span {
    font-family: $font3;
    text-transform: uppercase;
}
li {
    list-style-type: none;
    font-family: $font3;

}
.plat-img {
    width: 30px;
    height: 30px;
}