@font-face {
  font-family: "allura";
  src: url(./../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(./../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(./../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes navanime {
  to {
    border-bottom: 3px solid rgb(0, 255, 234);
    transform: scale(120%);
  }
}
@keyframes socialanime {
  to {
    transform: scale(150%);
  }
}
h1, h2 {
  font-family: allura, sans-serif;
  color: rgb(97, 110, 50);
}

h3 {
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}

h4 {
  font-family: poppins, sans-serif;
}

span {
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}

li {
  list-style-type: none;
  font-family: roboto, sans-serif;
}

.plat-img {
  width: 30px;
  height: 30px;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  position: relative;
  min-height: 100vh;
}
header li, header span, header h3, header h4, header p {
  color: rgb(0, 255, 234);
}
header h2 {
  font-size: 3rem;
}
header h4 {
  text-transform: uppercase;
}
header .nav {
  margin: 0px 100px auto;
  padding-top: 20px;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav .nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-left li {
  cursor: pointer;
  padding: 0 50px 10px 50px;
  text-transform: uppercase;
}
header nav .nav-left li:hover {
  animation: navanime 0.5s forwards;
}
@media screen and (max-width: 700px) {
  header nav .nav-left li {
    display: none;
  }
}
header nav .nav-right {
  align-items: center;
  padding: 0 5px 10px 5px;
}
header nav .nav-right #social a i:hover {
  animation: socialanime 0.5s forwards;
}
header nav .nav-right li a {
  margin-right: 10px;
  color: rgb(0, 255, 234);
}
header .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
header .welcome h1 {
  font-size: 4rem;
}
header .welcome h3 {
  font-size: 4.5rem;
  font-family: poppins, sans-serif;
  transform: translateY(-40%);
  letter-spacing: 10px;
}
header .welcome h4 {
  margin: 40px;
  font-family: roboto, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 8px;
  font-weight: 100;
}

.chef {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 55vh;
  background: rgb(238, 235, 235);
}
.chef .left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chef .left-part .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
  border: 1px dashed black;
}
.chef .left-part .left-container h2 {
  font-size: 2.5rem;
}
.chef .left-part .left-container h4 {
  font-size: 1.5rem;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.chef .left-part .left-container .plat-img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
.chef .left-part .left-container p {
  font-size: 1.3rem;
  font-family: roboto, sans-serif;
  margin: 40px;
  text-align: center;
}
.chef .left-part .left-container #avatar1 {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 10%;
}
.chef .left-part .left-container h5 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: poppins, sans-serif;
  font-weight: 200;
}
.chef .left-part .left-container span {
  color: rgb(161, 146, 146);
}
.chef .right-part {
  background: url(../img/store-01.jpg) center/cover;
}

.main {
  background: rgb(32, 30, 30);
}
.main .section1 {
  height: 58vh;
  padding-top: 50px;
}
.main .section1 .main-head div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .section1 .main-head h2 {
  font-size: 2.8rem;
}
.main .section1 .main-head .plat-img {
  width: 40px;
  height: 40px;
  margin: 40px;
}
.main .section1 .main-head nav ul {
  width: 60%;
  margin: 0 auto;
  display: flex;
  font-size: 1.5rem;
  color: rgb(0, 255, 234);
  justify-content: space-evenly;
}
.main .section1 .main-head nav ul li {
  cursor: pointer;
  padding: 0 5px 10px 5px;
  border-bottom: 1px solid rgb(0, 255, 234);
  position: static;
}
.main .section1 .main-head nav ul li:hover {
  color: rgb(97, 110, 50);
  border-bottom: 1px solid rgb(97, 110, 50);
}
.main .section2 {
  background: url(../img/bg-menu-01.jpg);
}
.main .section2 .dish-items {
  background: rgb(238, 235, 235);
  width: 60%;
  margin: 0 auto;
  border-top: 7px solid rgb(97, 110, 50);
  transform: translateY(-25%);
}
.main .section2 .dish-items .items-container ul {
  display: grid;
  grid-template-columns: 50% 50%;
}
.main .section2 .dish-items .items-container ul .items-left, .main .section2 .dish-items .items-container ul .items-right {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 20px;
}
.main .section2 .dish-items .items-container ul li {
  border-bottom: 1px dashed black;
  display: flex;
  justify-content: space-between;
}
.main .section2 .dish-items .items-container ul li .item {
  margin: 30px 5px;
  display: flex;
  align-items: center;
}
.main .section2 .dish-items .items-container ul li .item img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.main .section2 .dish-items .items-container ul li .item div {
  margin-left: 20px;
}
.main .section2 .dish-items .items-container ul li .item div span {
  font-size: 1.2rem;
  font-family: poppins, sans-serif;
}
.main .section2 .dish-items .items-container ul li .item div p {
  font-size: 1.3rem;
}
.main .section2 .dish-items .items-container ul li h4 {
  font-size: 1.4rem;
  font-family: roboto, sans-serif;
  color: rgb(97, 110, 50);
  align-self: center;
}

.section3 {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 60%;
  margin: 100px auto;
}
.section3 .left-part {
  background: rgb(10, 10, 10);
}
.section3 .left-part .left-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  border: 1px dashed rgb(238, 235, 235);
}
.section3 .left-part h2 {
  font-size: 3rem;
}
.section3 .left-part h4 {
  font-size: 1.6rem;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.section3 .left-part img {
  margin: 10px;
}
.section3 .left-part span {
  color: rgb(97, 110, 50);
  font-family: poppins, sans-serif;
  font-size: 1.3rem;
  margin-top: 25px;
}
.section3 .left-part h4, .section3 .left-part p {
  font-family: poppins, sans-serif;
  color: rgb(0, 255, 234);
}
.section3 .left-part p {
  margin: 20px;
}
.section3 .right-part {
  padding: 100px;
  background: rgb(238, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .right-part h2 {
  font-size: 3rem;
}
.section3 .right-part h3 {
  font-size: 2.1rem;
  font-family: poppins, sans-serif;
  transform: translateY(-40%);
}
.section3 .right-part img {
  margin: 10px 0 30px;
}
.section3 .right-part select, .section3 .right-part input {
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  background: none;
  width: 200px;
  border: none;
  border-bottom: 3px solid rgb(161, 146, 146);
}
.section3 .right-part select:active, .section3 .right-part select:focus, .section3 .right-part input:active, .section3 .right-part input:focus {
  outline: none;
}
.section3 .right-part .submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .right-part .submit input {
  font-family: poppins, sans-serif;
  padding: 10px 30px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 150px;
  background: rgb(10, 10, 10);
  color: rgb(0, 255, 234);
}
.section3 .right-part .submit input:hover {
  color: rgb(10, 10, 10);
  background-color: rgb(0, 255, 234);
}

.section4 {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 500px;
}
.section4 .head-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 .head-event h2 {
  font-size: 3rem;
}
.section4 .head-event h3 {
  font-size: 3rem;
  font-family: poppins, sans-serif;
  transform: translateY(-20%);
  color: rgb(0, 255, 234);
}
.section4 .events {
  display: grid;
  grid-template-columns: 60% 40%;
  font-family: roboto, sans-serif;
}
.section4 .events h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: lighter;
}
.section4 .events p {
  font-size: 1.2rem;
  margin: 20px 0;
  letter-spacing: 1px;
}
.section4 .events p i:nth-child(2) {
  margin-left: 8px;
}
.section4 .events a {
  text-decoration: none;
  margin: 10px 0;
  font-size: 1.2rem;
  color: rgb(10, 10, 10);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section4 .events .left-part {
  display: grid;
  grid-template-rows: 50% 50%;
}
.section4 .events .left-part .left-container {
  display: flex;
  background: rgb(238, 235, 235);
  margin: 20px;
}
.section4 .events .left-part .left-container .date-container1 {
  background: url(./../img/event-01.jpg) center/cover;
}
.section4 .events .left-part .left-container .date-container2 {
  background: url(./../img/event-02.jpg) center/cover;
}
.section4 .events .left-part .left-container .date-container1, .section4 .events .left-part .left-container .date-container2 {
  width: 200px;
  height: 200px;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  display: inline-block;
  position: relative;
}
.section4 .events .left-part .left-container .date-container1 .date:before, .section4 .events .left-part .left-container .date-container2 .date:before {
  content: "08 Juin";
  color: rgb(10, 10, 10);
  border: 1px solid grey;
  position: absolute;
  top: 40%;
}
.section4 .events .left-part .left-container .event-txt {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.section4 .events .right-part {
  background: url(../img/event-03.jpg);
  margin: 20px;
}
.section4 .events .right-part .right-container {
  margin: 20px;
  padding-top: 115px;
  background: rgb(238, 235, 235);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 39% 100%, 38% 0, 63% 0, 63% 24%, 25% 24%, 38% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 39% 100%, 38% 0, 63% 0, 63% 24%, 25% 24%, 38% 100%, 100% 100%, 100% 0%);
}
.section4 .events .right-part .right-container a {
  margin: 65px auto 50px;
}

footer .maps {
  background: url(../img/gmap.jpg) center/cover;
}
footer .maps .chef {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: rgb(238, 235, 235);
  margin: 0 auto;
  transform: translateY(-60%);
  text-align: center;
}
footer .maps .chef img {
  transform: translateY(-50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 5%;
  margin: 0 auto;
}
footer .maps .chef p {
  font-size: 1.3rem;
  font-family: roboto, sans-serif;
  margin: 20px 100px;
  letter-spacing: 1px;
  line-height: 50px;
}
footer .maps .chef p i {
  transform: translateY(-50%);
}
footer .maps .chef h4 {
  font-family: roboto, sans-serif;
  font-size: 2rem;
  margin: 30px;
}
footer .maps .chef span {
  font-family: roboto, sans-serif;
  color: rgb(97, 110, 50);
  font-size: 1.5rem;
}
footer .footer {
  background: url(../img/bg-footer.jpg) center/cover;
}
footer .footer .footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 60%;
  margin: 0 auto;
  padding: 50px;
}
footer .footer .footer-container p, footer .footer .footer-container input, footer .footer .footer-container li a {
  color: rgb(161, 146, 146);
}
footer .footer label {
  color: rgb(0, 255, 234);
  font-size: 1.2rem;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
}
footer .footer input {
  width: 50%;
  background: none;
  outline: none;
  border: 1px solid rgb(161, 146, 146);
  padding: 5px 10px;
  margin: 10px 0 50px;
}
footer .footer .left-part {
  margin-right: 50px;
}
footer .footer .left-part h2 {
  font-size: 2.5rem;
}
footer .footer .left-part p {
  line-height: 30px;
  font-family: roboto, sans-serif;
  text-align: left;
}
footer .footer .right-part {
  margin-left: 50px;
}
footer .footer .right-part .email {
  display: flex;
  flex-direction: column;
}
footer .footer .right-part .social, footer .footer .right-part .social ul {
  display: flex;
  align-items: center;
}
footer .footer .right-part ul li {
  margin: 20px;
}/*# sourceMappingURL=index.css.map */