@font-face {
  font-family: "allura";
  src: url(./../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(./../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(./../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes navanime {
  to {
    border-bottom: 3px solid rgb(0, 255, 234);
    transform: scale(120%);
  }
}
@keyframes socialanime {
  to {
    transform: scale(150%);
  }
}
h1, h2 {
  font-family: allura, sans-serif;
  color: rgb(97, 110, 50);
}

h3 {
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}

h4 {
  font-family: poppins, sans-serif;
  text-transform: uppercase;
}

span {
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}

li {
  list-style-type: none;
  font-family: roboto, sans-serif;
}

.plat-img {
  width: 30px;
  height: 30px;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  position: relative;
  min-height: 100vh;
}
header li, header span, header h3, header h4, header p {
  color: rgb(0, 255, 234);
}
header h2 {
  font-size: 3rem;
}
header .nav {
  margin: 0px 100px auto;
  padding-top: 20px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  cursor: pointer;
  padding: 0 5px 10px 5px;
  text-transform: uppercase;
}
header nav ul li:hover {
  animation: navanime 0.5s forwards;
}
header nav ul #social {
  animation: none;
}
header nav ul #social a i:hover {
  animation: socialanime 0.5s forwards;
}
header nav ul li a {
  margin-right: 10px;
  color: rgb(0, 255, 234);
}
header .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
header .welcome h1 {
  font-size: 4rem;
}
header .welcome h3 {
  font-size: 4.5rem;
  font-family: poppins, sans-serif;
  transform: translateY(-40%);
  letter-spacing: 10px;
}
header .welcome h4 {
  margin: 40px;
  font-family: roboto, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 8px;
  font-weight: 100;
}

.chef {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50vh;
  background: rgb(238, 235, 235);
}
.chef .left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chef .left-part .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
  border: 1px dashed black;
}
.chef .left-part .left-container h2 {
  font-size: 2.5rem;
}
.chef .left-part .left-container h4 {
  font-size: 1.5rem;
  transform: translateY(-50%);
}
.chef .left-part .left-container .plat-img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
.chef .left-part .left-container p {
  font-size: 1.3rem;
  font-family: roboto, sans-serif;
  margin: 40px;
  text-align: center;
}
.chef .left-part .left-container #avatar1 {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 10%;
}
.chef .left-part .left-container h5 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: poppins, sans-serif;
  font-weight: 200;
}
.chef .left-part .left-container span {
  color: rgb(161, 146, 146);
}
.chef .right-part {
  background: url(../img/store-01.jpg) center/cover;
}

.main {
  background: rgb(32, 30, 30);
}
.main .section1 {
  height: 40vh;
  padding: 60px;
}
.main .section1 .main-head div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .section1 .main-head h2 {
  font-size: 2.8rem;
}
.main .section1 .main-head .plat-img {
  width: 40px;
  height: 40px;
  margin: 40px;
}
.main .section1 .main-head nav ul {
  width: 60%;
  margin: 0 auto;
  display: flex;
  font-size: 1.5rem;
  color: rgb(0, 255, 234);
  justify-content: space-evenly;
}
.main .section1 .main-head nav ul li {
  cursor: pointer;
  padding: 0 5px 10px 5px;
  border-bottom: 1px solid rgb(0, 255, 234);
  position: static;
}
.main .section1 .main-head nav ul li:hover {
  animation: navitems 0.2s forwards;
}
@keyframes navitems {
  0% {
    border-bottom: 1px solid rgb(0, 255, 234);
  }
  20% {
    border-bottom: 2px solid rgb(0, 255, 234);
  }
  40% {
    border-bottom: 3px solid rgb(0, 255, 234);
  }
  60% {
    border-bottom: 4px solid rgb(0, 255, 234);
  }
  80% {
    border-bottom: 5px solid rgb(0, 255, 234);
  }
  100% {
    border-bottom: 6px solid rgb(0, 255, 234);
  }
}
.main .section2 {
  background: url(../img/bg-menu-01.jpg);
}
.main .section2 .dish-items {
  background: rgb(238, 235, 235);
  width: 60%;
  margin: 0 auto;
  border-top: 7px solid rgb(97, 110, 50);
  transform: translateY(-20%);
}
.main .section2 .dish-items .items-container ul {
  display: grid;
  grid-template-columns: 50% 50%;
}
.main .section2 .dish-items .items-container ul .items-left, .main .section2 .dish-items .items-container ul .items-right {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 30px;
}
.main .section2 .dish-items .items-container ul li {
  border-bottom: 1px dashed black;
  display: flex;
  justify-content: space-between;
}
.main .section2 .dish-items .items-container ul li .item {
  margin: 30px;
  display: flex;
  align-items: center;
}
.main .section2 .dish-items .items-container ul li .item img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.main .section2 .dish-items .items-container ul li .item div {
  margin-left: 20px;
}
.main .section2 .dish-items .items-container ul li .item div span {
  font-size: 1.2rem;
  font-family: poppins, sans-serif;
}
.main .section2 .dish-items .items-container ul li .item div p {
  font-size: 1.3rem;
}
.main .section2 .dish-items .items-container ul li h4 {
  font-size: 1.4rem;
  font-family: roboto, sans-serif;
  color: rgb(97, 110, 50);
  align-self: center;
}

.section3 {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 60%;
  margin: 100px auto;
}
.section3 .left-part {
  padding: 50px;
  background: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .left-part h2 {
  font-size: 3rem;
}
.section3 .left-part h4 {
  font-size: 1.6rem;
  transform: translateY(-50%);
}
.section3 .left-part img {
  margin: 10px;
}
.section3 .left-part span {
  color: rgb(97, 110, 50);
  font-family: poppins, sans-serif;
  font-size: 1.3rem;
  margin-top: 25px;
}
.section3 .left-part h4, .section3 .left-part p {
  font-family: poppins, sans-serif;
  color: rgb(0, 255, 234);
}
.section3 .left-part p {
  margin: 20px;
}
.section3 .right-part {
  padding: 100px;
  background: rgb(238, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .right-part h2 {
  font-size: 3rem;
}
.section3 .right-part h3 {
  font-size: 2.1rem;
  font-family: poppins, sans-serif;
  transform: translateY(-40%);
}
.section3 .right-part img {
  margin: 10px 0 30px;
}
.section3 .right-part select, .section3 .right-part input {
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  background: none;
  width: 200px;
  border: none;
  border-bottom: 3px solid rgb(161, 146, 146);
}
.section3 .right-part .submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .right-part .submit input {
  font-family: poppins, sans-serif;
  padding: 10px 30px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 150px;
  background: rgb(10, 10, 10);
  color: rgb(0, 255, 234);
}/*# sourceMappingURL=index.css.map */